@import 'tailwindcss';

@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-gray-50: #FAFAFC;
    --color-gray-100: #EBECF0;
    --color-gray-200: #E4EAF0;
    --color-gray-300: #E1E8F5;
    --color-gray-400: #F0F0F0;
    --color-gray-500: #707680;
    --color-gray-600: #575C66;
    --color-gray-700: #303233;
    --color-gray-800: #232323;
    --color-gray-900: #1E2121;
    --color-gray-950: #050000;

    --color-blue-100: #EBEEFC;
    --color-blue-300: #0B71CA;
    --color-blue-500: #3553E9;
    --color-blue-800: #1D33A5;

    --color-green-200: #86E278;
    --color-green-500: #03A10D;

    --color-violet-500: #6550D3;
}

@theme static {
    --color-black: var(--color-gray-950);
    --color-primary: var(--color-green-500);
}
